@{
    ViewData["Title"] = "BigInt";
}

<p>Here you can perform operations with arbitrarily big integers, with no 64 bit limitation that most online tools have.</p>

<p>This .NET Core application is written in C# and is based on the <a href="https://msdn.microsoft.com/en-us/library/system.numerics.biginteger.aspx">System.Numerics.BigInteger</a> class.</p>
